.about-footer{
   margin-top:6rem;
}
/* Tablet responsiveness */
@media screen AND (max-width: 1040px){
.site-footer{
  margin-top:8rem;
}
}

/* Small-mobile responsiveness */

@media screen AND (max-width: 480px){
/* .site-footer{
  margin-top:10rem;
}
.about-subheader{
  display: block;
} */
} 