.home-footer{
    margin-top: 2rem;
}

/* Tablet responsiveness */
@media screen AND (max-width: 1040px){
.home-footer{
  margin-top:70rem;
}
}

/* Small-mobile responsiveness */

@media screen AND (max-width: 480px){
.home-footer{
  margin-top:195rem;
}
} 