.cart-footer{
    margin-top: 2rem;
}
/* Tablet responsiveness */
@media screen AND (max-width: 1040px){
.cart-footer{
  margin-top:8rem;
}
}

/* Small-mobile responsiveness */

@media screen AND (max-width: 480px){
.cart-footer{
  margin-top:10rem;
}
} 