.wishlist-footer{
    margin-top: 2rem;
}

/* Tablet responsiveness */
@media screen AND (max-width: 1040px){
.wishlist-footer{
  margin-top:8rem;
}
}

/* Small-mobile responsiveness */

@media screen AND (max-width: 480px){
.wishlist-footer{
  margin-top:3rem;
  /* position: fixed; */
}
.wishlistheading{
  position: fixed;
  margin-top: -7em;
  margin-left: 1rem;
}
} 