.Cart-table{
    /* margin:20px 25px ; */
    background-color:rgb(135, 164, 197);
    border: none;
    border-radius:10px;
    border-collapse: collapse;
    padding:7px;
    /* margin-right:50px; */
    width:40px;
}
.Cart-table th{
padding:5px 30px;
font-size:14px;

background-color:var(--color-icon-bg);
}
.Cart-table td{
padding:1.5rem 3rem;
background-color:white;
border-bottom:1px solid rgb(146, 144, 144);
border-radius:2px;
}
.Cart-container{
    background-color:white;
    margin-top: 60px;
    margin-left:5rem;
    width:67.5%;
    padding: 1rem;
}
#actionbutoon{
    width:7rem;
    height: 2rem;
}
#actionbutoon2{
    margin-left:3rem;
}
.Cart-title{
    text-align: center;
}
.Total-price{
    display: flex;
    gap: 2rem;
}
.discount{
    display: flex;
    gap: 2rem;
}
.last-total{
    display: flex;
    gap: 2rem;
}
.direction-content{
    border-bottom: black 1px solid;
    background-color: white;
    padding:5px;
}
.direction-background{
    background-color:white;
}
.direction-form{
    background-color: white;
    padding: 1rem;
    width:15rem;
    height:55vh;
    margin-top: 10rem;
}
.direction-button{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}
.Cart-allcontent{
    display: flex;
    gap:3rem;
}
#purchase-commentbuton{
    padding:10px;
    background-color: rgb(45, 117, 201);
    border-radius: 3px;
    cursor: pointer;
    border: none;
    height: 40px;
    color: white;
}

#continue-commentbuton{
    padding:10px;
    background-color: lightseagreen;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    height: 40px;
    color: white;
}
#discount-detail{
    color:red ;
}
.modal-container{
    background-color: rgba(0, 0, 0, 0.521);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
}
.closeModal{
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 50px;
    margin-top: 30px;
    background-color: white;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 8px;
}
#payment-close{
    color: white;
}
#mtnairtel{
    margin-top: 1rem;
}
.payment-methodline img{
    height:45px;
    width:100px;
}
.payment-methodline{
    display: flex;
    gap: 10px;
}